body {
  /* color: white; */
  /* background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxEPEBUQEQ8SFRUXFhUXFxUVFRIWFxUVFRYXFhUSExcYHSggGBolGxUXITEhJSkrLi4uFx80OTQtOCgtLisBCgoKDg0OGxAQGy0lHyUrLS0tLS0tLS0tKy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tKy0tLS0tLS0tLS0tLS0rLf/AABEIAOIA3wMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAABwMEBQYIAQL/xAA9EAABAwICBwUGBQMDBQAAAAABAAIDBBEFBgcSITFBUWETInGBsTJCUpGh0RQjYnLBCDOCFUPwU2NzksL/xAAaAQEAAwEBAQAAAAAAAAAAAAAAAwQFBgIB/8QAMREAAgECBAIIBgMBAQAAAAAAAAECAwQFESExElETMkFhcZGx0SKBocHh8BRC8VIj/9oADAMBAAIRAxEAPwCcUREAREQBERAEREARW09Wxm87eQWPlxRx9kAfUqrWvaNHST15LUlhRnPZGYKovqmN3uCwMkzne066prNni7/pDzft7lmNpzZnHYlGOJPkvg4qzkVhkUDxW4fLyJFa0+8zH+qs5FfYxKPqPJYRF8WKXHd5D+LT7zYWVcZ3OCrtN1q6+2SubudbwKsQxd/3j5P39yOVouxmzIsJBibx7VnfQrIQVzH7L2PIrQo31Gronk+T0K86E4bou0RFcIQiIgCIiAIiIAiIgCIiAIisqyuEewbXcuXio6lWNOPFN5I9Ri5PJFeaZrBdxWJqsRc/Y3uj6q1llLzdxuV8Ln7nEalXOMNF9X8/Y0KVvGOr1Z6V4iLOLAREQBERAEREAREQBERD6XVNXvZs3jkf4WXp6lsg2Hy4rXl9MeWm4Nir9tiFSjo9Y/u3tsV6tvGeuzNnRY+irw/uu2H1WQXQ0q0KseKD0M6cHB5MIiKU8hERAEREARFa1tT2bep3fdeKlSNOLlLZH2MXJ5IpV9ZqDVb7XosM432lHuJNzvXi5a6uZV5ZvbsXL88zVpUlTWSCIirEgRfL3hoJJsBtJPALQca0q0cDiyIOlI2XbsbfoeKlpUalV5QWZ5nUjHdkgL4kla0Xc4AcyQFCeK6XaqS4gibGOZ2laXieYquqN5qh7ulyB8gtClhVWXXaX1ZXldRWyzJ9xTPmHU19epa4/CzvH6LV63THTt/tU8j+riG/TaoUuivQwugutm/mQSupvYlOXTJNfu0rAOpJXsOmSa/fpWEdCQoqRTfwLb/j19zx09TmTjhul+kfYTQyR9RZ4/hbrhGYaWsF4J2P6Xs4eIK5aurilqnxOD43ua4bi02KgqYVSl1G19USRupLfU6xRQxk/So+MiKt7zN3aD2h+4cVL1BXR1EYlieHtO0EG6xbi1qUHlJfPsLlOrGexcoiKuSBZbD62/ccdvA8+hWJQFT29xKhPij8+/8AfoeKlNVFkzaUVjh1XrjVPtD6jmr5dVSqxqwU47MypxcXkwiIpDyEREB8PeGgk7gteqZzI4uPl4K/xeo3MHif4Cxa5/E7njn0S2W/j+DQtaeUeJ9oREWUWgiIgNM0sV7oMNfqGxeWsPg47Vz2V0XpPw8z4bKALltn/wDqbrnIrosJa6F5b5v7GddZ8fyPEVWKFzzZrXOPJoJ9FUkoZW7XRSDxY4fwtMrFsiIgCv8AD8IqKi/YwSSW36rSfqrBdGaB8wU76IUl2tmYTcbAXg7ndUBz/XYbNAbSwvYf1NIVmu18Qw6GpYWTRMkaeDmg+qiTPOhaN4M2HnUdtJiPsn9p4ICBVsuTc3zYbKC0l0RPfjO49RyKwmJYfLTSuhmYWPabEEW+XMK0XmcIzi4yWaZ9TaeaOqcDxiKthbNC4Fp+YPIrIrmvJGapMNnDgSYnECRnAj4h1C6Kw6ujqImzRuu1wuD/AAuavbR28tOq9n9jTo1ekXeXKIiokx9xSFpDhvC2GCUPaHBa2r7CqjVdqncfVaWG3PR1OB7P17PyVrmnxRzW6M2iIujM4L4e/VBJ4L7WPxaWzNXn6KKvV6KnKfJHqEeKSRiZZC5xceJXwiLkG89WbGWQREXwBERAU6iESMcxwuHAg+B2LmXN+DOoayWBw2B12nm120FdPLQdLGVvxkH4iMfmxDh7zOIWjh1z0VThltL17Cvc0+KOa3RS/p8q6V8MtO6OPt2u17kAlzDy8FMMmHQuFnQxnxa0rj7LWNy4fVMqYiQ5h2jm3i0rrTK2PRYjTMqInXDgLji13FpXSGaY3GdH2GVg/Mo4wfiZ3D9FGuZtBdrvoZyf+3J6B33U6IgOMcdwCqoX9nUwuYeZB1T4HcVZUdXJA8SRPcx42hzTYhdl4vg9PWRmKeJsjTwcPTkoMz7obkp9aegJkj2kxHa5o/SeIQHmVtOFRC0R1sXbAf7jbB9uo3FbvS6bMMeLu7Vh5FpPoubpYnMJa4EEGxB2EHqqSAlHSznTDsUY0U9O7tmn+8Rq93i081FyIgPQpF0VZwNJKKWZ35Mhs0n3HHd5FRyvoFR1qUasHCWzPUJOLzR1wDfaij/RnnWOpp2088gEzO6L7Ndo3HxUgLk61KVKbhLf17zWhNTWaC9BttXiKI9Gx00uuwO/5dVlisGl3s8wsquttavS0oz7e3xMmrDgm0FhMYku+3Ieqza1ysdeRx6n6bFUxWeVFR5v01JrSOc8+4ooiLnTQCIiAIiIAvHNBFjuXqICCdKeTjRzGphb+TIdoHuP436FWWjPPEmE1HeJNO82kZy/W3qFPWIUTKiN0UjQ5rhYgrnzPmT5MNmuAXQvPcfy/S7quiw+96RdHN/Etu9GfcUeH4lsdVYbXx1MTZonhzHC4I6q7XL2jLSLJhUgilu+mcdo4s/U37LpTCcThq4mzQSNexwuCDdaZVL1eEL1EBG+kfRfDiTTNThsVQNtwLNk6OH8rnLFcMmpJnQTsLHtNiD6jmF2qtK0jZChxaEkANnaO5J/8u5hAcoor7F8LlpJnQTMLXtNiD6jorFAEREBUjkLSCCQRuI2EeClnR1pGN20tY699jJT9Gv+6iJfTTZQ16EK0OGf+HuE3B5o64ab7QijbRJm81LPwc7ryMHcJ3uZy8QpJXLV6MqM3CX+95qwmprNFzhz9WQddnzWwLWI3WIPIhbMCtjCJ/BKHJ5+a/BSu4/EmFrLzck9StmctXUeMPqLx+x6s11vl9wiIsUuhERAEREARY4Y3Aan8IJB2obrFvIfdZJenFrcJ5nis8Vw2KqidDMwOa7gfUK8RfE2nmg1mc756yRLhzy9oL4Ce6/4f0uVHJGearCZLxu1oie9Edx6jkV0TU07JWlj2hzSLEEXBCg/STk6no3GanmYATthLgXC/wAK6CyxDpMqdTrc+fsZ9a34dY7E95NzfTYrD2kDu8PbYfaaeo5LY1xnlvH58OqG1ED7OG8cHDi1y6tybmWLE6VlRGd4s5vFruIK1CqZ9ERARzpbyG3E4DNC0CojBIPxtG9hXM0sZY4tcCCDYg7CCN4K7eK59075MFPIMQhbZkhtIBwfwd5oCH0REARFm8tZbnxFzmQBpLRc6xtsXmUoxXFJ5I+pNvJFrgeIupaiOdhsWOB8RxC6fwusbUQsmabh7Q4eYXNOOZaqqE2qIXNHB29p81M+h6uMuHBpO2Nxb5cPosrFIKdKNWOuTy8/yW7VtScWbytjgN2NPQLXFsVL/bb4BQ4P15+C9T3d7IrFaw4bStoWtVLbPcOp9VJjEfhhLva88jzZvVopoiLDLoReOcBvNlTZVRuNhI0nkCEBUJso/wA66SYaUOhpiJJt1xtaw8zzKw+l/NskbhRQPLdl5HDeb7m34KIHFbNlhylFVKm3Yvf8FOvcNPhibDlvHZI8RjqpHlznSd8k7w42N+m1dKsdcA81yXG6xB5EH5LqbAJ+1pYZPijYfmF9xeCXBJd6+58tJboyCIsFnXHBQUck3vW1WDm5277+Sx4Qc5KK3ZcbSWbNO0nZ+dT3pKV1pPfePcHJvVQ1PO6Rxc9znOO8uJJPzXtTO6R7nvJLnEkk8SVTbG47mk+AK622to0IcMfm+ZlVKjm82fCkPQzmo0Nc2F7j2UxDSOAcdzlH7onDe0jxBRjy0hwNiNoI4HmpiM7eBuvVr2Q8X/G4dT1BPedGNb9w2H0WwoAsXmPCGV1LLTSC7XtI8DwI81lEQHFWMYe6lnkp3+1G4tPluKsVKmn/AAbsK9lQ0WEzNv7m7PmorQBSpoJZ+dO79DfVRWpo0F0doJ5vieGj/EXPqqWISyt5fL1Jrdf+iJKr6KOdhjlY17SLEEXWKytliLDWyMhc4te/Wsfd6BZ1FzSqSUXFPR9hpcKzz7QtjptjG+AWutFzZbLGLADotbB18U33Iq3j0ij7WBxRlpCedlnljMZj2B3LZ81dxKnx0G12a+/0IbaWVTxNYx+slgp5JYYxI9rSQw3sbeCiWr0wVZGq2mhYeZ1yR5XU1kXUG6U8luppDVwNvE894D3HfYrLw9UJy4KkdXs/sWbjjS4os1jFs411UfzKh1vhb3R9Fi4cRmY7WbNIDzDirRfK6KMIxWUVkjPcm9WX2J4jLUyGWV2s8gAnnbYFZLxF9SSWSPh9ALqTK0Rjoqdh3iJg+i51yjhDq2sihaNmsC48mjabrpuJga0NHAAfJYuLzXww7dWXbSO7Pta/nHK0eKRMikkewNfrgstt2EWNx1WwIseE5QkpR3RclFSWTNRwnRxh1PY9j2jvikJP03fRbDDhNOwWbBGPBjVeovs6s5vOTbPihFbIsajCKeQWdBGR1a1c7Z+w5lLiM8UbdVgddo5A8F0wub9Js4kxSoI4O1fkFp4TKXSyWemX3RWu0uFPvJp/p9qS/Ciw+5M8DwNj/JUnqLP6eoC3DHvPvTPt5ABSmt4oBERARB/UZTA0cEltrZLfMLntdE/1FTAUETOJlv8AILnZAfYXSGjnCvwuHQsI7zhru8XG4+llB+RsFNdWxxW7oIc/9rdtl0rGwNAaNwAA8AsbF6ukaa8WXLSO8j6REWGXivRM1pGjr6bVsSw+DxXcXch6rMLo8Kp8NHi5v00M66lnPLkFRqY9dhb0VZFoyipJpldPJ5mrEW2KlU07ZWFj2hzSLEHcQsni0Gq7WG4+qsVyFak6NRwfZ+5mvCSnHiIUzxozlhLp6NpfGdpjHtN/aOIUayxOYbOaWnkQQV1qsVieXaSp/vU8bjzLdvzC0rfFZQXDUWff2/krVLVPWJy0vVNudtGcLoC+ij1ZG3OqPfHLxULSsLSQQQQbEHeCOBWvb3EK8eKBTqU3B5M2fIebf9Llc4xB7XWBPvAfpKnTL2aqSvbrQzNJ4sOxw8QVz/heXHVkRdSuD5Gi74b2fYcWfEsUDLTye/G9p6tcCoLqwp13xbS5klKvKGnYdXooGwDSnWU9mzATN67HfNb1hmlehkH5mvGeouPmsaph1eD2z8P3MuRuYS7cjf0WsNz9hhF/xkY6G/2WLxXSlQQtPZudK7gGjZ81BG2rSeSi/IkdWC7TZ8yYzHQ0753kDVBsPidwAXMlXO6eV0huXPcT1JcdyzObs2z4lJeQ6rB7MY3DqeZW4aGciOrJ21szLQRm7b++4brcwugsbP8Ajwbl1nv3dxn16vSPTZE0aOcGNDhlPA4WcGaz/wBztp9Vs68AsvVeIAiLXc8ZniwykfPIRrWsxvFzzuAQEMf1BY4JquOla64ibd1vidu+iicK6xOufUzPnkN3PcXHz4Ld9F2TTWSipmb+Sw3APvuG7yUdWrGlBzlseoQcnkjetE+WTR03byNtJKL7d7W8At9XjRbYF6uTrVZVZuct2a0IqMckERXNBBrvHIbSvNODqSUI7s+ykorNmWoIdRgHE7SrpEXX04KEVFbLQx5NyebCIi9nwo1MIkaWny8Vrz2FpIO8LZ1jcUpNYa7RtG/qFl4la9JHpI7r6r8Fm2q8L4XszEIiLnjRPVHGkbIAqwammaGzAXc0bBJb+VIyKWjWnSnxw3PM4KayZynBNNSTazS6OVh6gtI4KWMv5rw3GWNp8WgjZPbVE4GrrdSeBWx50yHBiIMjQI5rbHgW1ujuag/H8vVFDIWTRkcne6eoK6W2vKddaaPl+7mZUpShvsSfjmg1xHaUNS17TtDX8ujhvWi4po5xSnJ1qN7gPeZZw9bqtlDSRX4YQ1shki/6chuB+0naFMuWtMOH1QDZiYHng/2b9CrZEc8uwGrBsaSe/wD43/ZZPC8i4lUkCOil8XDVA6m66upMRp5xeOWJ/gWlXoA6ICE8naEg1zZcQeHW29kzd/kVM9JTMhY2ONga1osGgWAAVZU5ZmtF3OaB1ICAqotWx3P2HUQPaVLCfhadYnpsUU5s03zSgx0MfZg7O0ftd5DggJczdnClwuIvmkGt7sYN3OPguZM7ZunxaoM0ps0bGR8Gj7rEVVVPVy60j3yyOO8kuJPRSJknRg+UtmrQWs3iPi793IKKtWhRjxTZ6hBzeSMDkPJEmIyB7wWQA953xW91v3U/UNIyCNsUbQ1rQAAOi+qSmZEwRxtDWtFgALABVlzV3dyuJa6LsRp0qSprvCIiqEoAus/QU/ZstxO0qzwqk99w8FllvYZa8K6WW728Pz6FC5q5vhQREWuVAiIgCIiAxGJUVu+0bOI5dVjVtKxNdh9u8zzH2WHfYe1nUpLxXt7eReoXH9ZeZjERFjF0K1xHDoqlhjmja9p4OF/lyV0i+p5bHxrMijMWiJpJfRy6vHs37R4NO/5qOsWynW0pIlp32HFo1h8wunF8vYHCxAI67Vo0cUrQ0n8S79/MrTtovbQ5Tp62aE9yWRhHJzmrLQZ4xKP2a6bzcT6qf67K1FP/AHKWM+At6LDT6MsMdugLfBzleji1J7pr6kDtJc0RBJpAxR2w10vkbLF1uYayf+7VTO8XuU3M0WYaP9t5/wAisjRZCw6E3bStvzNz6r1LFaK2TfyPitZ9xzxS0E05/Lie8nkCfqt1wHRZWVFnTEQs67XW6BThTUMUQtHExv7WgK4VSri05aQWX1JoWiXWZrGWMjUeHi7Ga8nGR+0+XAeS2dEWXOcpvik82WoxUVkgiIvB9CvcPotc6x9n1XtDQF/edsHLmsy1oAsFrWOHubVSotOxc/x6+G9SvcZfDHc9AsvURb5QCIiAIiIAiIgCIiAsauga/aNh+h8ViJoHMNnCy2VfD2BwsRcLOusPp1fijo/o/FFilcSho9Uayiys+Fg7WG3QrHzUz2b2nx4LErWlWj1lpzWq/fEvQqxnsUkRFWJQiIh8CIiAIiIAiqRQOf7LSVkKfC+Lz5D7qxRtqtbqLTn2eftmRzqxhuzHRxOcbNFysrSYcG7X7Ty4BXsUTWCzRZVFt22Gwp/FP4n9F+95Sq3LlpHRBERaRWCIiAIiIAiIgCIiAIiIAiIgCIiAtpKON29o8titnYU3g4hZJFXnaUZ9aK9PQkjVnHZmHdhLuDgvg4XJzHzWbRV3hlu+x+ZJ/KqGE/0uTp819twl3FyzCIsLt+T8x/KqGNbhQ4uPkriKhjb7t/FXSKeFnQh1Yr19SOVact2eAcl6iKyRhERAEREAREQBERAEREAREQBERAEREAREQBERAEREAREQBERAEREAREQBERAEREAREQH/2Q=='); */
  /* background-image: url(https://goodwordnews.com/wp-content/uploads/2021/09/spx-daily-100dma-800x600.png); */
  background-image: url(https://media4.giphy.com/media/JtBZm3Getg3dqxK0zP/200w.webp?cid=ecf05e4786ivpy8jde63f59evajamrgoksgmjcdo617k05l6&rid=200w.webp&ct=g);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-variant-caps: all-petite-caps;
  text-shadow: 2px 0px 10px red;
}

/* ___________________________nav bars */
.bar {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  color: white;
}

a {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

a:hover {
  color: crimson;
}

/* ___________________________buttons */

.buttond {
  border-radius: 58%;
  padding: 10px;
}

#withdraw,
#withdraw2 {
  background-image: url(https://i.pinimg.com/originals/63/7a/4d/637a4d42e1738853b2f96ffbbd60622a.gif);
  color: red;
  font-size: 20px;
  font-weight: bolder;
}

#deposit,
#deposit2 {
  background-image: url(https://i.pinimg.com/originals/63/7a/4d/637a4d42e1738853b2f96ffbbd60622a.gif);
  color: red;
  font-size: 20px;
  font-weight: bolder;
}

#trade {
  background-image: url(https://i.pinimg.com/originals/63/7a/4d/637a4d42e1738853b2f96ffbbd60622a.gif);
  color: red;
  font-size: 20px;
  font-weight: bolder;
}

#speculate {
  background-image: url(https://media3.giphy.com/media/3og0IvGtnDyPHCRaYU/giphy.gif?cid=790b761101636c72165e34987702c8506868bad17b7d7042&rid=giphy.gif&ct=s);
  background-attachment: local;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#reduxButtons {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
h1,
h2,
#signature {
  display: grid;
  justify-content: space-around;
}

/* ___________________________Home */

.sample {
  display: grid;
  font-variant-caps: all-small-caps;
  justify-content: center;
}

/* ___________________________APIs */

.exchange {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#stockForm {
  display: grid;
  justify-content: space-around;
  justify-items: center;
}

#stockInfo {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  /* color: crimson; */
  font-size: 19px;
}

.inputSearch {
  border: solid steelblue 3px;
  border-radius: 8px;
}

.searchButton {
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 8px;
}

.searchButton:hover {
  background-color: orange;
}

/* ___________________________About */

#company {
  background-color: steelblue;
  border: solid lightsteelblue;
  padding: 25px;
  border-radius: 15%;
  text-shadow: 2px 0px 1px red;
  background-image: url(https://i.pinimg.com/originals/63/7a/4d/637a4d42e1738853b2f96ffbbd60622a.gif);
}
