.bar {
    display: grid;
    justify-items: stretch;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

h1,h2, #signature {
    display: grid;
    justify-content: space-around;
}

.exchange {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

